@import "./vars.scss";

.form_flex {
    @include gray45;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-image: url('../img/form_back_png.png') ;
    background-repeat: no-repeat; /* відключення повторення картинки */
    background-position: right center;
    background-size: auto;
    }

.forms_radio {
    display: flex;
    gap: 36px;
    margin-top: 60px;
    margin-left: 100px;
    
    & label {
        @include p_text;
        }
    }
            
.inner_form_flex {
    flex-direction: column;
    display: flex;
    gap: 25px;
    margin-left: 100px;
    margin-top: 40px;
    
    & .black_button{
        width:  clamp(9.375rem, 45.414vw - 19.747rem, 34.75rem);
        margin-bottom: 80px;
        }
    }

.inner_form label {
    display: block;
    margin-bottom: 5px;
    @include p_text;
    font-size: 16px;
    }


.inner_form  input {
    border-radius: $border-radius_small;
    border: 1px solid black;
    height: 60px;
    width: clamp(9.375rem, 45.414vw - 19.747rem, 34.75rem);
    padding-left: 30px;
    @include p_text;
    }

#message {
    height: clamp(3.75rem, 14.541vw - 5.575rem, 11.875rem);
    }