@import "./_normalize.scss";
@import 'fonts.scss';
@import "./vars.scss";
@import "./header.scss";
@import "./accordion.scss";
@import "./product_card.scss";
@import "./proposal_section.scss";
@import "./about_us_grid.scss";
@import "./dark_section.scss";
@import "./comments.scss";
@import "./slider.scss";
@import "./form.scss";
@import "./footer.scss";

body {
    @include wrapper;
}


.brandline {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
}

.services {
    display: flex;
    gap:clamp(0.625rem, 1.974vw + 0.132rem, 2.5rem);
    font-family: 'SpaceGrotesk-Regular';
    margin-top: 140px;
    }

    .services_green  {
        border-radius: 8px;
        background-color: $main_green_colour;
        @include h2_titles;
        padding: 0 7px;}

    .services_text {
        @include p_text;
        width: 580px;
    }

    @media screen and (max-width: 600px){
                .product_card {
                    grid-template-areas: 
                    "title title"
                    "learn_more prod_img";
                    
                }
            }
                
                
            
            
                  @media screen and (max-width: 1430px) {
                    .comment_grid_container {
                        grid-template-columns: repeat(2, 1fr);
                }
                }
                
                @media screen and (max-width: 907px) {
                    .comment_grid_container {
                        grid-template-columns: repeat(1, 1fr);
                        justify-items: center;
                    }
                }
                
                @media screen and (max-width: 1105px) and (min-width:430px) {
                    .header {
                        .navigation {
                          display: none;
                        }
                  
                        .logo_header {
                          display: flex;
                          justify-content: space-between;
                          gap: 40px;
                        }
                    
                        .burger-header-navigation {
                          display: inline-flex;
                          li {
                              list-style: none;
                          }
                        }
                      }
            
                    .about_us_grid_container {
                        grid-template-rows: auto auto auto auto;
                        grid-template-areas:
                        "left_top"
                        "right_column"
                        "left_middle"
                        "left_bottom";
                        // align-items: flex-start;
                
                        }
                        .right_column {
                            height: auto;
                            
                            justify-self: center;
                        }
                
                        .left_bottom .black_button{
                            width: 100%;
                        }
                
                        .brandline {
                            flex-wrap: wrap;
                            justify-content: left;
                            gap: 30px;
                        }
                
                        .proposal_section_right {
                            display: none;
                
                        }
                        
                        .proposal_section_left
                         {
                           justify-content: center;
                        }
                
                        .proposal_section_left-button {
                            width: 100%;
                        }
                
                        .services {
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                        }
                
                        .product_grid {
                            grid-template-columns: 1fr;
                        }
                
                        .product_learn_more p {
                            display: none;
                        }
                
                     .accordion_element-number{
                        @include h3_titles;
                     }
                
                
                
                    .accordion_element-title {
                        @include p_text;
                        font-weight: 500;
                    }
                
                    }
            
                    @media  screen and (max-width: 660px) and (min-width:430px){
                        .right_column  img {
                            width: clamp(22.563rem, 103.913vw - 5.364rem, 37.5rem);
                        }
            
                        .about_us_grid_container {
                            margin: 0 34px;
                        }
            
                        .header{
                            margin-left: 34px;
                            margin-right: 34px;
                        }
            
                        .black_button  {
                            width: 100%;
            
                        }
            
                    }